{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": false
        },
        "modules": "commonjs"
      }
    ],
    "minify"
  ],

  "comments": false
}